<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                  Hi! As a kid, the only superpower I seemed to have was an unsatiable curiosity, to the dismay of my parents who had to bear the brunt of all my questions. To this day, I have still managed to retain most of that. While technology has always fascinated me, I believe it is our ability to harness it in positive ways that makes it a worthy pursuit. More specifically, I am driven by the potential of technology to enhance human health and well being. To this end, my vision is to create an engine for human performance enhancement which would enable us to achieve superhuman cognitive and physical abilities</p>
            
            <p class="paragraph-text justify-text">
	    At HTIC, I was part of the Wearables team which worked on various projects all centered around the application of statistics and machine learning to biosignal anaytics and biomedical imaging. While my initial foray into data driven statistics and ML for medical applications stemmed from me succumbing to the hype and allure surrounding it, I have since expanded my understanding of its potential and flaws and seek to enable its smooth transition from the desks of research into a scaled industrial environment. In the recent past, I had taken on a leadership role to build algorithms for a lifestyle assessment platform and athlete assessment platform.  
            </p>
            
            <p class="paragraph-text justify-text">
I am currently involved in building AcroPhase, a spinoff from the wearables team at HTIC. We look to enhance human performance leveraging data and technology in four verticals including Sports, Lifestyle & Wellness, Fitness and Healthcare. We aim to understand the fundamental pillars of human health, namely, sleep, stress, recovery, physical expenditure and biomechanics through non intrusive, cutting edge wearable tech. Our ultimate goal is to fuse these aspects together to provide value to large swathes of people across various verticals.  
            </p>
           
        </div>
    </section>
</div>
