<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                  Hi! An eclectic autodidact here who is excited by human centric technology and its potential to improve our well being. As a kid, the only superpower I seemed to have was an unsatiable curiosity, to the dismay of my parents who had to bear the brunt of all my questions. To this day, I have still managed to retain most of that. I have dabbled in various fields since the second year of my undergrad which included six months of work in device modelling and eight months of work in the FPGA-Altera lab. I was then entasked to solve a problem in medical imaging during which I came across state of the art deep learning models that were setting SOTA standards. 
            </p>
            
            <p class="paragraph-text justify-text">
At the end of my third year of undergrad, I had an opportunity to intern at Bhabha Atomic Research Center, Mumbai in Deep Learning for Xray images. I was able to leverage the knowledge I gained in this role to land an internship at Healthcare Technology and Innovation Center, Chennai, India. Since then, I have worked in various projects all centered around the application of statistics and machine learning to biosignal anaytics and biomedical imaging. Apart from improving my understanding of core subjects like Statistics, Digital Signal Processing, Matrix analysis and Machine Learning, I have also improved my coding skills to a point where I am comfortable with both academic and production level code. Recently, I have also had the opportunity to manage a team of 10 and learnt about what it means to be a leader in the process. 
            </p>
            
            <p class="paragraph-text justify-text">
Apart from industrial endeavors, my research interests include profiling human behaviour and health to improve overall well being through a data driven approach. Additionally, I want to be able to create explainable, casual models that would aid in providing meaningful intervention while protecting the privacy of the user. While my initial foray into ML and AI stemmed from me succumbing to the hype and allure surrounding it, I have since expanded my understanding of its potential and flaws and seek to enable its smooth transition from the desks of research into a scaled industrial environment. To this end, I enjoy leveraging the latest technology to ask the right questions and finding optimal solutions. 

            </p>
           
        </div>
    </section>
</div>
