<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                  Hi! An eclectic autodidact here who is excited by technology and its potential to improve the well being of us humans. While my initial foray into ML and AI stemmed from me succumbing to the hype and allure surrounding it, I have since expanded my understanding of its potential and flaws and seek to enable its smooth transition from the desks of research into a scaled industrial environment. I enjoy leveraging the latest technology to ask the right questions and finding optimal solutions. 
            </p>
           
            <p class="paragraph-text justify-text">
                I maintain a blog <a href="{{ site.blog_url }}">CompactML</a>, where I share my understanding of the podcasts that I listen to in the Machine Learning space. Here is a link to my <a href="https://github.com/{{ site.github_username }}">GitHub</a> repository. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
