<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading"></div>
            <h1>Education</h1>            
            <p class="paragraph-text justify-text">
            B.Tech in Electronics and Communication Engineering, SASTRA University 
            </p>
            <p class="paragraph-text justify-text">
            The Emirates National School, Sharjah, UAE 
            </p>
            <h1>Experience</h1>            
            <p class="paragraph-text justify-text">
            Lead Project Engineer, HTIC-IITM 
            </p>
            <p class="paragraph-text justify-text">
            Project Engineer, HTIC-IITM 
            </p>
            <p class="paragraph-text justify-text">
            Project Intern, HTIC-IITM 
            </p>
            <p class="paragraph-text justify-text">
            Project Trainee, Bhabha Atomic Research Center 
            </p>
        </div>
    </section>
</div>
