<div class="section-wrapper">
    <style>
    .link { color: #FFFFFF;} 
    .link:hover { color: #0000EE; }
    </style>
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                Feel free to ping me, fellow tech enthusiasts. I'm open to collaborations on interesting open source projects that make an impact, especially in the biomedical domain. Alternatively, if you want to talk a little about books, technology, psychology, philosophy, business or football over a cup of coffee, I'm all ears.
            </p>
            <p class="paragraph-text justify-text">
                Drop a mail at: <a class="link" href="mailto:{{ site.email }}">{{ site.email }}</a> 
            </p>
            <p class="paragraph-text justify-text">
                Here is a link to my <a class="link" href="https://drive.google.com/file/d/1ePu31u58-Jim9Vw2EwoitTa8sCZWcPHd/view?usp=sharing">Resume</a>
            </p>
            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Linkedin">
                    <a href="https://www.linkedin.com/in/sricharan-vijayarangan-62737b145/"><i class="fab fa-linkedin-in"></i>
                </span>
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Blog">
                    <a href="{{ site.blog_url }}"><i class="head-icon fas fa-rss"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Twitter">
                    <a href="https://twitter.com/Acrarshin"><i class="fab fa-twitter"></i>
                 </span>
                <span class="hint--bottom bottom-link" aria-label="Google Scholar">
                    <a href="https://scholar.google.com/citations?hl=en&user=9jqvWYsAAAAJ"><i class="ai ai-google-scholar-square ai-3x"></i>
                 </span>
        </div>
    </section>
</div>
