<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Gratitude</div>
            <p class="paragraph-text justify-text">
            While I believe in the power of smart and hard work, environmental stimuli goes a long way in our psychological conditioning. Thus, it is important to me to acknowledge the people who have shaped me up both personally and professionally.  
            </p>
            <p class="paragraph-text justify-text">
            At the risk of sounding cliche, I would like to begin by thanking my family which includes my parents, grandparents (especially Mr Govindarajan) and my close relatives for their unconditional love, support and more importantly, providing me with a strong moral compass. I would like to thank my mentors notably Dr Muthubalan, Mrs Padmini S, Mr Vignesh R, Mr Balmurali M and Mr Preejith SP for moulding me professionally and believing in my ability. I would like to thank my close friends from college and school for their presence and conversations when I needed it the most. Note that this list is certainly not exhaustive. 
            </p>
            <p class="paragraph-text justify-text">
Apart from people, there have also been moments of pure serendipity that have guided me to where I am today. Thus, I would like to end this by acknowledging the seemingly stochastic nature of our very existence. Again, thank you everyone. My hope is that I am able to meet a lot more of such people while simultaneously spreading love and good will to all.   
            </p>
        </div>
    </section>
</div>
